<header class="header">
    <div id="log-bar">
        <div class="logo"> 
            <img src="/image/Carpincho-Drinks-Logo_2.png"> 
            <h2>Carpincho Drinks</h2>
        </div>
        <div id="busqueda">
            <input type="text">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="encabezado">
        <ul type="none" id="opciones-pagina" class="opciones">
            <li><p>Productos</p></li> 
            <li>Nosotros</li>
            <li>Contactanos</li>
        </ul>
        <ul type="none" id="opciones-cuenta" class="opciones">
            <li><a href="/login">¡Registrate!</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li class= "changuito"><a href="/Carrito"><i class="fa-solid fa-cart-shopping"></i></a> </li>
        </ul>
    </div>       
</header>