<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
<main class="principal">
    <h1>Carrito</h1>
    <br> </br>
    <div> <ul class="main">
        <li class="producto">Producto 
        <br> </br>
       <img width = 30% src="/image/vino.jpeg"> 
       <span class= "Vino">Descripcion del producto</span></li> 
        <li class="cantidad"> Cantidad <div> 
            <br></br>
            <input type="button" value="-">
            <input type="button" value= "cantidad">
            <input type="button" value="+" > </div> 
            <br></br>
            <br></br>
            <div>Total del Carrito</div>
        </li>
        <li class="subtotal"> Subtotal <div> 
        <br></br>
        <i class="fa-solid fa-dollar-sign"></i>
        <input type="button" value="textarea"></div>
        <br></br>
        <br></br>
        <div><i class="fa-solid fa-dollar-sign"></i>
        <input type="button" value="textarea">
        </div></li>
        </ul> </div>
        <br></br>
        <div class="botonDePago" ><button class="pagar">Pagar</button></div>
</main>
<%- include('partials/footer')%>
</body>
</html>