<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <br></br>
    <p class="texto"> ¡Hola! Ingresa tu usuario</p>
    <form action = "/login" method="get">
        <div class="login">
        <p class="usuario"><input type = "text" name = "usuario" placeholder="nombre de usuario"></p>
        <p class="password"><input type="password" name = "contraseña" placeholder = "contraseña"> 
        </p>
        <p class="recupera"> <a href= > recupera tu contraseña </a></p>
        <p class="button"><input type="submit" name="enviar"></p>
        </div> </form>
        <p class = "nuevosClientes"> Nuevos Clientes</p>
        <button class="crearUsuario">Crear Usuario</button>
    <%- include('partials/footer')%>
</body>
</html>