.body-404 {
    background-color: white;
    max-width:1200px;
}

.main-404 {
    margin-top: 100px;
}

.image-error{
    display: block;
    margin: auto;
    width: 50%
}

.button-404 {
    width: 150px;
    display: block;
    font-size: 1em;
    background-color:rgba(30,30,30);
    font-weight: bold;
    margin: 70px auto 0 auto;
    padding: 15px;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 100px;
}

.boton-volver {
    text-align: center;
}
