main {
    width: 100%;
    background-color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.article-producto {
    background-color: white;
    border: 0.2px solid rgb(194, 194, 194);
    border-radius:5px;
    box-shadow: 3px 3px 2px 0.2px rgba(0, 0, 0, 0.1);
}

.div-img-producto {
    width: 100%;
}

.div-img-producto img {
    width: 100%;
}  

.div-datos-producto {
    padding: 15px;
    border-top: 1px solid var(--gris-medio);
    text-align: left;
}

.h4-nombre-producto {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.p-descuento, .p-precio {
    font-size: 18px;
    color: var(--naranja);
    margin: 10px 0 0;
}

small {
    font-size: 13px;
}

.p-precio {
    text-decoration:line-through var(--naranja);
}

.p-precio-final {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.div-formas-pago {
    display: flex;
    margin: 0 0 20px;
    font-size: 18px;
}

.div-envio-gratis {
    display: flex;
    margin: 20px 0;
    font-size: 18px;
}

.i-tarjeta,
.i-camion,
.i-carrito {
    margin-right: 10px;
}

.div-formas-pago span,
.div-envio-gratis span,
.div.form-comprar span{
    margin: 0;
    font-size: 14px;
}

.div-formas-pago strong,
.div-envio-gratis strong {
    font-size: 16px;
    color: var(--verde);
}

.form-comprar {
    padding: 10px 0;
    box-sizing:content-box;
        font-size: 16px;
    color: var(--verde);
}

.button-agregar-al-carrito{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    background-color: #222831;
    cursor: pointer;
}

.div-costo-envio {
    margin: 25px 0;
}

.shipping-cost {
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-align: left;
}

.shipping-cost input,
.shipping-cost button {
    width: 50%;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    color: var(--gris-medio2);
    border: 1px var(--grismedio) solid;
    border-radius: 5px;
}

.shipping-cost button {
    width: 50%;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    background-color: #222831;
    cursor: pointer;
}


.div-descripcion-producto {
    font-size: 18px;
    margin-top: 30px;
    font-weight:bolder;
}

@media (min-width:480px){

        
        .article-producto {
            width: 90%;
            margin: auto;
        }
    
        .div-img-producto {
            width: 70%;
            margin: auto;
        }
    
        .div-datos-producto {
            margin:auto;
            padding: 15px 30px;
        }
    }    

@media (min-width:769px){

    .article-producto {
        width: 70%;
        margin: 30px 15%;
        display: flex;
        justify-content: space-between;
    }

    .div-img-producto {
        width: 45%;
        padding: 40px;
    }

    .div-datos-producto {
        width: 55%;
        border: none;
        padding: 40px;
    }

}
