*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #FCF8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Inicio del Main*/
main{
    display: flex;
    width: 75%;
    margin: 6% 0;
    padding-top: 7vw;
    color: #FCF8E8;
    background-color: rgba(30, 30, 30);
}

main #boton-comprar{
    border: 0px;
}

main #photo{
    flex-grow: 1;
    width: 100%;
}

.container.product{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#photo img{
    width: 50%;
    margin:0 2vw;
    min-width: 300px;
    min-height: 300px;
}

#descripcion{
    width: 50%;
    flex-grow: 1;
    margin:0px 2%;
}

#descripcion h2{
    font-size: 2.2vw;
}
#descripcion b{
    display: block;
    font-size:1.8vw;
    margin: 4% 0%;
}

#envio-retiro{
    margin-left: 2%;
}

#boton-compra button{ 
    background-color: rgb(236, 179, 144);
    border: 0px; 
    width: 60%;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 5% 0px;
}

.envio-retiro ul{
    margin-right: 10%;
    padding-bottom: 10%;
}

.envio-retiro li{
    display: flex;
    margin: 3% 0px;
    width: 100%;
    font-size: 1vw;
    align-items: center;
}
 
.envio-retiro p{
    margin: 0px 3%;
}

#opcion-bebida{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;

}

#opcion-bebida select{
    width: 60%;
    height: 2vw;
    border: solid 2px #ebebeb;
    margin: 2% 2%;
}

#sel-cant label{
    font-size: 1.4vw;
}

#cantidades{
    margin:2% 0px;
    display: flex;
    min-width: 60px;
    width: 14%;
    border: solid 1px black;
    background-color: #ebebeb;
}

#cantidades h1{
    padding: 1% 0px;
}

#cantidades button{ 
    padding:auto;
    border: 0px;
}

#cantidades h1, #cantidades button{
    width: 100%;
    flex-grow: 1;
}

#desc-res label{
    display: block;
    font-size: 1.3vw;
    margin-top:2%;
}

#desc-res p{
    display: block;
    margin-right: 30%;
}

#boton-compra button:hover{
    background-color:rgba(223, 120, 97, 0.8) ;
}
/*Fin del Main*/



@media (min-width:360px) and (max-width:768px) {
    /*Inicio del Main*/
    main{
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        margin:10% 12%;
    }

    .descripcion label{
        font-size: 2vw;
    }

    #descripcion h2{
        margin-top:4% ;
        font-size: 3.5vw;
    }

    #descripcion b{
        font-size: 3vw;
    }

    .envio-retiro{
        font-size: 2.2vw;
    }

    .envio-retiro li {

        font-size: 2.2vw;
        align-items: center;
    }

    #opcion-bebida{
        margin: 3% 0px;
    } 

    #opcion-bebida label{
        font-size: 2.2vw;
    }

    #opcion-bebida select{
        height: 4vw;
    }

    main img{
        max-width: 300px;
        max-height: 450px;
        width: 100%;
    }

    #sel-cant label{
        font-size: 2.3vw;
    }

    #boton-compra{
        text-align: center;
    }

    #boton-compra button{
        height: 5vw;
    }

    #desc-res{
        font-size: 1.8vw;
    }

    #desc-res label {
        font-size: 2.3vw;
    }
    /*Fin del Main*/
    /*Inicio del footer*/
    /*Fin del footer*/
}
    
