main {
    font-family: Roboto, sans-serif;
    margin: auto;
    max-width: 750px;
}

.checkout-cart {
    display: flex;
    flex-grow: 1;
    padding: 15px;
}

.descripcion-cart {
    font-size: 15px;
    line-height: 18px;
}

.item-cart {
    display: flex;
    flex-grow: 0.8;
    padding: 10px;
}

.precio-cart {
    color: black;
    font-weight:bolder
}

.cant-cart {
    flex-grow: 0.2;
    padding: 10px;
}

.item-cart button {
    flex-grow: 0.1;
    border: none;
    background-color: #fff;
    color: black
}

.item-cart div {
    margin: 0 5px;
}

.cant-prod {
    width: 29px;
    margin-top: 10px;
    margin-left: 20px;
    border: solid 1px black
}

main h4 {
    display: block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.fa-times {
    cursor: pointer !important;
}

#count {
    width: 15px;
}

.img-cart img {
    width: 100%;
    min-width: 70px;
    max-width: 150px;
}

.sumario-cart {
    background-color: #ebecee;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.descuento-cart {
    padding: 10px 0;
}


.descuento-cart input {
    margin-top: 10px;
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 8px;
}

.sumario-cart p {
    padding: 15px 0;
    font-size: 15px;
    line-height: 22px;
}

.totales {
    display: flex;
    justify-content: space-between;
}

.totales h3, 
.totales h5 {
    padding: 5px 0;
}

.sumario-cart button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(30,30,30);
    border: none;
    color: #ffffff;
    border-radius: 8px;
}

.sumario-cart button:hover {
    background-color: rgba(30,30,30);
    cursor: pointer;
}

h2{
    text-align: center;
    margin-top:20px;
}