* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyRegister{
    background:url("/image/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.bodyLogin{
    background:url("/image/banner3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor{
    width: 100%;
    padding:15px;
}


.login-error {
    color: red;
}

.formulario{
    background: white;
    margin: 10% 0%;
    padding:3px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}


h1{
    text-align: center;
    color:#1a2537;
    font-size:50px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
textarea{
    font-size: 20px;
    width: 82%;
    padding:10px;
    border:none;
    box-shadow: 1px 1px 2px rgba(57, 56, 56, 0.5);
}

textarea {
    height: 150px;
}

input .contenedor{
    margin-bottom: 15px;
    border:1px solid #aaa;
}

.erroresLocales{
    color:red;
    font-size:15px;
    padding:5px;
}

.icon{
    min-width: 50px;
    text-align: center;
    color:#999
}

.etiqueta{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.button{
    border:none;
    width: 100%;
    margin-top: 15px;
    color:white;
    font-size: 20px;
    background:rgba(30,30,30);
    padding:15px 20px;
    border-radius:5px;
    cursor: pointer;
}

.button:hover{
    background:rgba(30,30,30,0.4);
}

p{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color:black;
    font-weight: 600px;
}

.link:hover {
    color:rgb(193, 192, 192)
}

.register-error {
    color:red
}


@media (min-width:720px){

    .formulario{
        width: 500px;
        border-radius:5px;
    }


}