.products-title {
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

article.prod-contenedor{
    margin:auto;
    width:60%
}

article.prod-contenedor a {
    text-decoration: none;
}

.img-producto a,
.img-producto img {
    object-fit: scale-down;
    display: block;
    width: 100%;
    margin:auto
}

.products-gral {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding: 15px;
    align-self: flex-end;
    flex-grow: 1;
}

.prod-precio {
    flex-grow: 3;
    font-size: 18px;
    color: #323f48;
}

.prod-descuento,
.fa-truck {
    color: #323f48;
    border-radius: 50%;
}

@media (min-width: 340px) {

    .container-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 10;
        margin-bottom: 30px;
    }

}

@media (min-width: 768px) {


    article.prod-contenedor {
        box-shadow: 0px 0px 5px #e5e7e9;
        border-radius: 10px;
        margin:auto
    }

    article .img-producto {
        padding: 10px;
        left: 50%;
        text-align: center;
        top: 0;
        height: 92%;
        width: 100%;
        object-fit: contain;
    }

    .products-gral {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .img-producto {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@media (min-width: 1024px) {

    .prod-contenedor:hover {
        box-shadow: 0px 0px 10px rgb(78, 78, 78);
    }


}