*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    background-color:rgb(50, 50, 244);
}

main{
    margin:10% 0px;
}

.texto {
    text-align: center;
    font-size: x-large;
}
.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left:20%;
    padding-right: 20%;
    font-size: xx-large
}
.usuario {
    margin-top: 0%;
    margin-bottom: 0%;
}
.password {
    margin-top: 0%;
    margin-bottom: 0%;
}
.recupera{
font-size: small;
}
.button {
    margin-top: 0%;
}
.nuevosClientes {
    text-align: center;
}
.crearUsuario {
    border-radius: 100%;
    font-size: large;
    background-color: red;
    margin-left:42% ;
    margin-right:42%;
    padding:2%
}
.principal {
    box-sizing: content-box;
}

.lupita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.changuito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.main {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.producto {
  width: 50%;
}
.cantidad {
text-align: center;
}
.subtotal {
margin-left: 15%;
text-align: center;
}
.pagar {
border-radius: 100%;
background-color: black;
color: white;
font-size:x-large;
}
.botonDePago{
display: flex;
justify-content: right;
margin-right: 20%;
}

.Vino{ 
position:relative;
bottom: 4em;
background-color: #FAF3E3;

}

.buttonHeader {
    margin-left: 5%;
    height: 50%;
}
