<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="bodyChart">
    <%- include('partials/header') %>
<main class="principal">
    <form class="formulario">
        <h1>Carrito</h1>
        <br> </br>
        <div class="product">
            <h3>Nombre producto</h3> 
            <br> </br>
            <div class="productData">
                <div class="divImg">
                    <img src="/image/vino.jpeg" class="img"> 
                </div>
                <div class="divDescription">
                    <span class="description">Descripcion del producto</span>
                </div>
                <div class="divAmount">
                    <br></br>
                    <p>Cantidad</p>
                    <div>
                        <input type="button" value="-">
                        <input type="button" value= "cantidad">
                        <input type="button" value="+">
                    </div>
                </div>
                <div class="divSubtotal">
                    <br></br>
                    <p>Subotal</p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <input type="button" value="textarea">
                </div>
            </div>               
        </div>
        <br>
        <div class="product">
            <h3>Nombre producto</h3> 
            <br> </br>
            <div class="productData">
                <div class="divImg">
                    <img src="/image/producto-cerveza2.jpg" class="img"> 
                </div>
                <div class="divDescription">
                    <span class="description">Descripcion del producto</span>
                </div>
                <div class="divAmount">
                    <br></br>
                    <p>Cantidad</p>
                    <div>
                        <input type="button" value="-">
                        <input type="button" value= "cantidad">
                        <input type="button" value="+">
                    </div>
                </div>
                <div class="divSubtotal">
                    <br></br>
                    <p>Subotal</p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <input type="button" value="textarea">
                </div>
            </div>               
        </div>

        <br></br>
        <br></br>
        <div class="total">
            <div class="divTotal">
                <h3>Total del Carrito</h3>
                <i class="fa-solid fa-dollar-sign"></i>
                <input type="button" value="textarea">
            </div>
            <div class="payButton" ><button class="pagar">Pagar</button></div>
        </div>
    </form>
</main>
<%- include('partials/footer')%>
</body>
</html>