<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header')%>
    <main>
        <form method="POST" action="/products/create" enctype='multipart/form-data'>
            <div class="formulario">
                <input type="text" name="name" placeholder="Nombre del Producto">
                <input type="number" name="precio" placeholder="Precio">               
            </div>
            <div class="formulario">
                <input type="number" name="cantindad" placeholder="Cantidad">
                <input type="text" name="descuento" placeholder="Descuento">
            </div>
            <div class="formulario" id="form-footer">

                <input type="file" name="img">
                <input type="text" name="descripcion" placeholder="Descripcion del Producto">
                <button id="creado" type="submit" >Guardar Producto</button>
            </div>        
        </form>
    </main>
    <%- include('partials/footer')%>
</body>
</html>