<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header')%>
            
                <body class="bodyRegister">
                        <form method="POST" action="/products/create" enctype='multipart/form-data' class="formulario">
                            <h1>Formulario de creación de productos</h1>
                            <p class="etiqueta">Nombre del producto</p>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <input type="text" name="name">
                            </div>
                            <p class="etiqueta">Descripción</p>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <textarea type="text" name="description"> </textarea>
                            </div>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <input type="text" placeholder="Precio" name="price">
                            </div>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <input type="text" placeholder="Cantidad" name="cantidad">
                            </div>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <input type="text" placeholder="Categoría" name="category">
                            </div>
                            <div class="contenedor">
                                <div class="input-contenedor"></div>
                                <input type="file" name="img">
                            </div>
                            <input type="submit" value="Guardar producto" class="button">
             </form>
           
         <%- include('partials/footer')%>
     </body>
</html>