<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header')%>
    <main>
        <form method="POST" action="/products/<%= producto.id %>/actualizar?_method=PUT">
            <div class="formulario">
                <label for="name">Nombre de Producto</label>
                <input type="text" name="name" placeholder="Nombre del Producto">
            </div>
            <div class="formulario">
                <label for="precio">Precio del Producto</label>
                <input type="text" name="precio" placeholder="Precio">
            </div>
            <div class="formulario">
                <label for="descuento">Descuento</label>
                <input type="text" name="descuento" placeholder="Descuento">
            </div>
            <div class="formulario">
                <label for="cantidad">cantidad</label>
                <input type="number" name="cantidad" placeholder="Cantidad">
            </div>
            <div class="formulario" id="form-footer">
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" placeholder="Descripcion del Producto">
                <button id="creado" type="submit" >Guardar Producto</button>
            </div>        
        </form>
    </main>
    <%- include('partials/footer')%>
</body>
</html>