<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {titulo: '404', enlace:'/css/error.css'}) %>


	<body class="body-404">
		<section class="main-404">
			<img class="image-error" src="/image/404_page_not_found.png" alt="Error 404 - Page not found">
		</section>
		<div class="boton-volver">
		<a href="/" class="button-404">Volver al inicio</a>
		</div>
	</body>

</html> 