<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <div id="el-slider">
            <ul class="slider">
              <li id="slide1">
                <h1>Cervezas</h1>
                <img src="/image/index.corona.jpg" alt="cerveza corona">
              </li>
              <li id="slide2">
                <h1>Vinos</h1>
                <img src="/image/index.vino.jpg" alt="vino"/>
              </li>
              <li id="slide3">
                <h1>Espumantes</h1>
                <img src="/image/index.champeta.jpg" alt="champagne"/>
              </li>
              <li id="slide4">
                <h1>Licores</h1>
                <img src="/image/index.gin.jpg" alt="gin"/>
              </li>
            </ul>          
            <ul class="menu">
              <li>
                <a href="#slide1"></a>
              </li>
              <li>
                <a href="#slide2"></a>
              </li>
               <li>
                <a href="#slide3"></a>
              </li>
              <li>
                <a href="#slide4"></a>
              </li>
            </ul>
          </div>
          <h3 class="titular">¡Nuestros productos!</h3>
          <section>
             <div class="productos">
              <article class="producto">
                <img src="/image/producto-vino1.jpg" alt="Trumpeter Malbec" />
                <div class="contenedor-articulo">
                   <div class="descuentoprecio">
                     <p class="precio">$1.400</p>
                     <p class="descuento">OFERTA</p></div>
                   <h4 class="descripcion">Trumpeter Malbec x 750ML</h4>
                </div>
              </article>
              <article class="producto">
                <img src="/image/producto-cerveza1.jpg" alt="Pack corona x6" />
                <div class="contenedor-articulo">
                     <div class="descuentoprecio">
                     <p class="precio">$2.999.99</p>
                     <p class="descuento">OFERTA</p></div>
                   <h4 class="descripcion">Six pack Corona</h4>
                </div>
              </article>
              <article class="producto">
                <img src="/image/producto-licor1.jpg" alt="Gancia" />
                <div class="contenedor-articulo">
                   <div class="descuentoprecio">
                     <p class="precio">$549.99</p>
                     <p class="descuento">OFERTA</p></div>
                   <h4 class="descripcion">Aperitivo Americano Gancia x950ML</h4>
                </div>
              </article>
              <article class="producto">
                <img src="/image/producto-champagne1.jpeg" alt="Baron B" />
                <div class="contenedor-articulo">
                   <div class="descuentoprecio">
                     <p class="precio">$2.250</p>
                     <p class="descuento">OFERTA</p></div>
                   <h4 class="descripcion">Champagne Baron B</h4>
                </div>
              </article>
            </div>
           </section>
           <section class="ofertas">
            <article class="producto">
              <img src="/image/producto-cerveza2.jpeg" alt="Cerveza Budweiser" />
              <div class="contenedor-articulo">
                 <div class="descuentoprecio">
                   <p class="precio">$2.600</p>
                   <p class="descuento">OFERTA</p></div>
                 <h4 class="descripcion">Budweiser 24 X 410ML</h4>
              </div>
            </article>
            <article class="producto">
              <img src="/image/producto-vino2.jpg" alt="D.V Catena Zapata" />
              <div class="contenedor-articulo">
                 <div class="descuentoprecio">
                   <p class="precio">$1.620</p>
                   <p class="descuento">OFERTA</p></div>
                 <h4 class="descripcion">DV Catena Cabernet Malbec</h4>
              </div>
            </article>
            <article class="producto">
              <img src="/image/producto-licor2.jpg" alt="Beefeater pink" />
              <div class="contenedor-articulo">
                 <div class="descuentoprecio">
                   <p class="precio">$3.800</p>
                   <p class="descuento">OFERTA</p></div>
                 <h4 class="descripcion">Gin Beefeater Pink</h4>
              </div>
            </article>
            <article class="producto">
              <img src="/image/producto-champagne2.jpg" alt="Champagne Chandon Delice" />
              <div class="contenedor-articulo">
                 <div class="descuentoprecio">
                   <p class="precio">$1.540</p>
                   <p class="descuento">OFERTA</p></div>
                 <h4 class="descripcion">Chandon Delice</h4>
              </div>
            </article>
          </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>