<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <section class="lastvisit">
                    <h3 class="titular">Seleccioná el producto que querés y luego completá el proceso de compra</h3>
                    <div class="productos">
                        <article class="producto">
                            <img src="/image/producto-cerveza1.jpg" alt="cervezaCorona" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$6.770</p>
                                    <h4 class="descripcion">Corona pack x6</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-cerveza2.jpg" alt="cervezaBud" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$2.500</p>
                                    <h4 class="descripcion">Budweiser pack x6</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-champagne1.jpeg" alt="champagneBaronB" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$6.500</p>
                                    <h4 class="descripcion">Baron B</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-champagne2.jpg" alt="champagneChandon" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$3.400</p>
                                    <h4 class="descripcion">Chandon Delice</h4>
                                </div>
                        </article>
                    </div>
                    <div class="productos">
                        <article class="producto">
                            <img src="/image/producto-vino1.jpg" alt="Vino" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$4.200</p>
                                    <h4 class="descripcion">Trumpeter Malbec x2</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-vino2.jpg" alt="Vino2" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$6.800</p>
                                    <h4 class="descripcion">D.V. Catena</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-licor1.jpg" alt="Licor1" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$1200</p>
                                    <h4 class="descripcion">Gancia Americano</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-licor2.jpg" alt="Licor2" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$7.000</p>
                                    <h4 class="descripcion">Beefeater Pink</h4>
                                </div>
                        </article>
                    </div>
                    <div class="productos">
                        <article class="producto">
                            <img src="/image/producto-vino3.jpg" alt="Vino3" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$5.600</p>
                                    <h4 class="descripcion">Rutini Cabernet Malbec</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-vino4.jpg" alt="Vino4" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$1.800</p>
                                    <h4 class="descripcion">Perro Callejero</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-licor3.jpg" alt="Licor3" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$6.400</p>
                                    <h4 class="descripcion">Bombay Sapphire</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-licor4.jpg" alt="Licor4" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$8.500</p>
                                    <h4 class="descripcion">Tanqueray</h4>
                                </div>
                        </article>
                    </div>
                    <div class="productos">
                        <article class="producto">
                            <img src="/image/producto-champagne3.jpg" alt="Champagne3" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$70.000</p>
                                    <h4 class="descripcion">Dom Perignon</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-vino5.jpg" alt="Vino5" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$4.000</p>
                                    <h4 class="descripcion">Mosquita muerta</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-cerveza3.jpg" alt="Cerveza3" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$1.300</p>
                                    <h4 class="descripcion">Patagonia lata</h4>
                                </div>
                        </article>
                        <article class="producto">
                            <img src="/image/producto-vino6.jpg" alt="Vino6" />
                            <div class="contenedor-articulo">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="precio_descripcion">
                                    <p class="precio">$6.500</p>
                                    <h4 class="descripcion">El Enemigo Malbec</h4>
                                </div>
                        </article>
                    </div>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>