<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header')%>
    <main>
        <form id="registro" >
            <div class="formulario">
                <input type="text" name="nombre" placeholder="Nombre y Apellido">
                <input type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div class="formulario" id="nacimiento">
                <b class="label-titulo">Seleccione su fecha de Nacimiento</b>
                <input id="nacimiento" type="date" name="fecha" > 
                
            </div>                    
            <div class="formulario">
                <b class="label-titulo">Seleccione una foto para su perfil:</b>
                <input type="file" name="foto" accept=".jpg">
            </div>
            <div class="formulario">
                <input type="email" required placeholder="Email">
                <input type="password" required placeholder="Contraseña">
                <input type="password" required placeholder="Contraseña">
                <button id="creado" type="submit" >Registrarse!!!</button>
            </div>        
        </form>
    </main>
    <%- include('partials/footer')%>
</body>
</html>