<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body class="text-center">
    <%- include('partials/header') %>
        <form class="registeruser" action="/register" method="POST">
            <div class="row">
                <div class="inicia mb-50">
                    <h3 style="text-align: -webkit-center">Bienvenido, ingresá tus datos y registrate</h3>
                </div>

                <div class="datos row">
                    <div style="text-align: -webkit-center">
                        <label for="">Nombre y apellido<span>*</span></label>
                        <input type="text" class="form-control" style="max-width:20rem" style="text-align:center"
                            name="email" id="email" value="">
                    </div>

                    <div style="text-align: -webkit-center">
                        <label for="">Contraseña<span>*</span></label>
                        <input type="password" class="form-control" style="max-width:20rem" style="text-align:center"
                            name="password" id="password" value="">
                        <label for="">Recordame</label>
                        <input type="checkbox" name="recordame"><br>
                    </div>

                    <div class="col-12">
                        <input type="submit" class="btn essence-btn" value="Iniciar Sesión">
                    </div>
                    <div>
                        <a style="text-decoration: none" href="/register">¿TODAVÍA NO TE REGISTRASTE?</a>
                    </div>
                </div>


            </div>
        </form>
        <%- include('partials/footer')%>
</body>
</html>