<footer class="main-footer">
  <div class="footer-section">
    <h2 class="footer-title" id="nosotros">NOSOTROS</h2>
    <p class="footer-txt">Somos un almacén 100% online donde podrás adquirir la bebida que necesites ya que contamos con
      una amplia
      variedad de vinos, cervezas, licores y espumantes de la más alta calidad. Te ofrecemos la experiencia de comprar
      desde la comodidad de tu casa.
      <br>
      <a href="http://www.facebook.com"><i class=" icon-footer fa-brands fa-facebook"></i></a>
      <a href="http://www.instagram.com"><i class=" icon-footer fa-brands fa-instagram"></i></a>
      <a href="http://www.twitter.com"><i class=" icon-footer fa-brands fa-twitter"></i></a>
    </p>
  </div>
  <div class="footer-section">
    <h2 class="footer-title">UBICACION</h2>
    <p class="footer-txt">Sucursal N° 1: Av. Coronel Niceto Vega 5511 CABA - Sucursal N° 2: Calle España 3172 Posadas,
      Misiones.</p>
  </div>
  <div class="footer-section">
    <h2 class="footer-title" id="contacto">CONTACTO</h2>
    <p class="footer-txt">TELEFONO: +543764659509</p>
    <p class="footer-txt">E-MAIL: carpinchodrinks@gmail.com</p>
  </div>
  <div class="footer-section">
    <h2 class="footer-title">SUSCRIBITE!</h2>
    <p class="footer-txt">Dejanos tu e-mail para recibir las últimas novedades y las mejores ofertas en bebidas.</p>
    <input type="email" class="footer-input" placeholder="Ingresá tu e-mail">
  </div>
  <div class="footer-section">
    <p class="copy">&#169 2022 CARPINCHO DRINKS. Todos los derechos reservados.
    </p>
  </div>
</footer>