<footer>
    <div class="divs-footer" id="redes">
        <label for="">¡Seguinos en nuestras redes sociales!</label>
        <ul type="none">
            <li><i class="fa-brands fa-whatsapp"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
        </ul>
    </div>
    <div class="divs-footer">
        <label for="">Productos</label>
        <ul type="none">
            <li>Cervezas</li>
            <li>Vermuts</li>
            <li>Vinos</li>
            <li>Licores</li>
            <li>Sidras</li>
            <li>Combos</li>
        </ul>
    </div>
    <div class="divs-footer">
        <label for="">Atencion al cliente</label>
        <ul type="none">
            <li>Contactos</li>
            <li>Terminos y condiciones</li>
            <li>Medios de pago</li>
            <li>Politica de devolucion</li>
            <li>Costo de envio y entregas</li>
        </ul>
    </div>
    <p>● Copyright © 2020 Carpincho-Drinks S.A</p>
</footer>