<header>    
    <div class="conteiner">
        <a href="/" id="logo">Carpincho Drinks <i class="fa-solid fa-wine-glass"></i> </a>
        <div id="navbar">
          <nav>
              <a href="/">Home</a>
              <a href="/#somosCarpi">¿Quienes Somos?</a>
              <a href="/products">Nuestras bebidas</a>
          </nav>
          <% if(locals.user){ %>
              <div class="avatar">
                  <img src="/image/avatars/<%= user.user_img %>" alt="<%= user.user_name %> Foto">
                  <h3>Hi <%= user.user_name%></h3>
                  <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                  <a href="/user/logout">Cerrar cuenta</a>
              </div>
          <% }else{ %>
            <div class="avatar">
              <img src="/image/avatars/1664421839976_img.jpg" alt="avatar">
              <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
              <div>
                <% if(locals.isLogged){ %>
                  <a href="/user/login">Iniciar sesión <i class="fa-solid fa-right-to-bracket"></i> </a>
                  <a href="/user/register">Crear cuenta <i class="fa-regular fa-address-card"></i></a>
                <% }%>  
              </div>              
            </div>
        <% } %>
      </div>
  </div>
</header>