<header>    
  <div class="contenedor">
      <a href="/" id="logo">Carpincho Drinks <i class="fa-solid fa-wine-glass"></i> </p><a>
      <nav>
          <a href="/">Home</a>
          <a href="/#somosCarpi">¿Quienes Somos?</a>
          <a href="/products">Nuestras bebidas</a>
          <a href="/user/login">Iniciar sesión <i class="fa-solid fa-right-to-bracket"></i> </a>
          <a href="/user/register">Crear cuenta <i class="fa-regular fa-address-card"></i></a>
          <a href="/products/carrito">Mi carrito <i class="fa-solid fa-cart-shopping"></i></a>              
      </nav>
  </div>
</header>