* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: rgba(30, 30, 30);
    width: 100%;
}

header #logo {
    margin: 0;
    padding: 25px 30px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

header .container {
    display: flex;
    flex-direction: column;

}

header nav {
    display: flex;
    flex-direction: column;

    padding-bottom: 25px;
    align-items: center;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar img{
    max-width: 60px;
    margin: 3%;
    border-radius: 50%;
}

#navbar .avatar{
    display: flex;
    width: 27%;
    color:white; 
    justify-content: center;
    align-items: center;   
}

.avatar{
    width: 15%;
}

.avatar h3{
    margin:2% 0;

}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: yellow
}

header a:hover {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(230, 230, 230);
    margin-top:auto
}

footer p {
    margin: 0;
    color: rgba(100, 100, 100);
    padding: 12px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:720px) {
    header {
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #hero h1 {
        font-size: 3.8em;
    }

    footer .container {
        justify-content: flex-end;
        margin-top:auto
    }
}